<%- include('partials/header') -%> 
  <main class="sm:container mx-auto">
    <header>
      <h1 class="page-title">Dashboard</h1>
      <h2 class="table-title">Recent Transactions</h2>
    </header>
    <section>
      <p>Under construction.</p> 
    </section>
  </main>  
<%- include('partials/footer') -%>