<%- include('partials/header') -%>
<main class="container mx-auto">
    <div class="pt-32">
        <p class="text-center">Welcome to</p>
        <h1 class="text-6xl text-center mt-4 mb-6">Centsible</h1>
        <p class="text-center">Taking the stress out of small business accounting.</p>
    </div>
    <div class="flex justify-center mt-20 gap-12">
        <a href="/login" class="btn btn-primary"> Login</a>
        <a href="/signup" class="btn btn-primary"> Signup</a>
    </div>
</main>
<%- include('partials/footer') -%>